@media (max-width: 1320px) {
    .container-fluid {
        width: 1200px;
        margin: 0 auto;
    }
}

@media (max-width: 1220px) {
    .container-fluid {
        width: 1100px;
        margin: 0 auto;
    }

}

@media (max-width: 1160px) {
    .container {
        width: 1000px;
        margin: 0 auto;
    }

    .header {
        background: url(../img/Bitmap2.png), radial-gradient(100% 100% at 50% 0%, #504A93 0%, #413E65 100%);
        background-repeat: no-repeat;
        background-position: right -100px top 220px, center;
        background-size: 80%, auto;
       
    }

    .responsive-list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        margin: 16px;
    }

}

@media (max-width: 1120px) {
    .container-fluid {
        width: 1000px;
        margin: 0 auto;
    }
}

@media (max-width: 1020px) {
    .container-fluid {
        width: 900px;
        margin: 0 auto;
    }

    .container {
        width: 900px;
        margin: 0 auto;
    }

    .header {
        background: url(../img/Bitmap2.png), radial-gradient(100% 100% at 50% 0%, #504A93 0%, #413E65 100%);
        background-repeat: no-repeat;
        background-position: right -100px top 220px, center;
        background-size: 80%, auto;
       
    }

    .main-title {
        font-size: 60px;
    }

    .main-text {
        font-size: 20px;
    }

    .main-link {
        font-size: 19px;
    }


@media (max-width: 920px) {
    .container-fluid {
        width: 800px;
        margin: 0 auto;
    }

    .container {
        width: 800px;
        margin: 0 auto;
    }

    .header {
        background: url(../img/Bitmap2.png), radial-gradient(100% 100% at 50% 0%, #504A93 0%, #413E65 100%);
        background-repeat: no-repeat;
        background-position: right -100px top 260px, center;
        background-size: 80%, auto;
       
    }

    .main-title {
        font-size: 57px;
    }

    .main-text {
        font-size: 20px;
    }

    .main-link {
        font-size: 19px;
    }

    
}

@media (max-width: 820px) {
    .container-fluid {
        width: 700px;
        margin: 0 auto;
    }

    .container {
        width: 700px;
        margin: 0 auto;
    } 

    .header {
        background: url(../img/Bitmap2.png), radial-gradient(100% 100% at 50% 0%, #504A93 0%, #413E65 100%);
        background-repeat: no-repeat;
        background-position: right -100px top 270px, center;
        background-size: 86%, auto;
    }

    .main-title {
        font-size: 55px;
    }

    .main-text {
        font-size: 19px;
    }

    .main-link {
        font-size: 18px;
    }

    .responsive-list {
       flex-direction: column;
      
    }

    .responsive-img {
      padding-top: 35px;
    }

    .responsive-title {
       padding: 25px 0;
       font-size: 34px;    
    }

    .responsive-text {
        font-size: 20px;
    }

}

@media (max-width: 720px) {
    .container-fluid {
        width: 600px;
        margin: 0 auto;
    }

    .container {
        width: 600px;
        margin: 0 auto;
    } 

    .header {
        background: url(none), radial-gradient(100% 100% at 50% 0%, #504A93 0%, #413E65 100%);
    }

    .navbar-list {
        display: none;
    }

    .nav-menu {
        display: block;
    }

    .main-info {
        text-align: center;
        margin: 100px auto;
    }

    .main-title {
      text-align: center;
    }

    .main-text {
        text-align: center;
    }

    .main-link {
        text-align: center;
    }

    .main-credit {
        text-align: center;
    }

}

@media (max-width: 620px) {
    .container-fluid {
        width: 97%;
        margin: 0 auto;
    }

    .container {
        width: 500px;
        margin: 0 auto;
    } 

    .main-title {
        text-align: center;
      }
  
      .main-text {
          font-size: 17px;
    }

    .responsive-title {
        font-size: 32px;    
     }
 
     .responsive-text {
         font-size: 19px;
     }
  

}

@media (max-width:520px) {
    .container {
        width: 400px;
        margin: 0 auto;
    }

    .main-br {
        display: none;
    }

    .main .main-text {
        font-size: 17px;
       text-align: justify;
    }

    .responsive-title {
        font-size: 29px;  
     }
 
     .responsive-text {
         font-size: 18px;
     }

}

@media (max-width: 420px) {
    .container-fluid {
        width: 94%;
        margin: 0 auto;
    }

    .container {
        width: 90%;
    }

    .main-title {
       font-size: 45px;
    }
  
    .main .main-text {
          font-size: 17px;
         text-align: justify;
    }
  
    .main-link {
         font-size: 16px;
    }

    .responsive-title {
        font-size: 27px;    
     }
 
     .responsive-text {
         font-size: 17px;
         text-align: justify;
     }

    .responsive-br {
        display: none;
    }
  

}

@media (max-width:320px) {
    .container {
        width: 290px;
    }

    .responsive-title {
        font-size: 26px;    
     }
 
     .responsive-text {
         font-size: 16px;
         text-align: justify;
     }


}

@media (max-width:290px) {
    .container {
        width: 100%;
    }

    .main-title {
        font-size: 40px;
        margin: 10px;
       }
   
    .main .main-text {
        margin: 0 10px;
        font-size: 17px;
        text-align: justify;
       }
   
    .main-link {
        font-size: 16px;
        margin-top: 15px;
       }

}